* {
    margin: 0px;
    padding: 0px;
}

.sidecolheight {
    height: 51px;
}

.sideDashbor1{
    width: 50%;
    border: none;
    background-color: transparent;
    margin-left: 13px;
    color: #A7ABB8
}

.sidecircle {
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background-color: #E2E4EB;
    position: absolute;
    left: 20px;
}

.sidecirclemain {
    box-shadow: inset 3px 0 0 rgb(58 132 253);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

}

.mort {
    position: inherit;
    z-index: 1212;
    color: #fff;
    margin-left: 44px;
}

.sidecirclemain {
    background-color: rgb(58 132 253);
    color: #fff;
}

.sidecirclemain:hover {
    background-color: rgb(58 132 253);

    cursor: pointer;
}

.tangreyline:before {
    content: " ";
    position: absolute;
    left: 30.5px;
    top: 101px;
    width: 2px;
    height: 352px;
    background-color: #e2e4eb !important;
    z-index: 1212;
    margin-top: 66px;
}

.tangreyline:before {
    content: " ";
    position: absolute;
    left: 30.5px;
    top: 101px;
    width: 2px;
    height: 111px;
    background-color: #e2e4eb !important;
    z-index: 1212;
    margin-top: 66px;
}

.checkicon {
    font-size: 22px;
    background-color: #fff;
    color: #3A84FD;
    border-radius: 10px;
    z-index: 12312312;
    position: absolute;
}

.sidebarmain {
    background-color: #FBFBFB;
}

.w-70 {
    width: 70%;
}

.w-40 {
    width: 40%;
}

/* progress bar */

.ant-progress-text {
    display: block !important;
}
.grey_color{
    color: black;
}

.sidebarmain {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    height: 600px;
    top: 10px;
    bottom: auto;
}

.side_header {
    box-shadow: "rgba(99, 99, 99, 0.2) 0px 2px 8px 0px";
    position: sticky;
}

.fw-500 {
    font-weight: 500;
}